<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-layout>
    <ion-list>
      <app-card-post
        *ngFor="let insta of contentInsta" 
        [username]="insta.username"
        [location]="insta.location"
        [createAt]="insta.createAt"
        [avatarUrl]="insta.avatarUrl"
        [contentUrl]="insta.contentUrl"
        [username]="insta.username"
        [likes]="insta.likes"
        [description]="insta.description"
      ></app-card-post>
    </ion-list>
  </app-layout>

  <!--Arreglo ciclo for de 20 elementos, buscador donde sale la galeria completa y tambien los rels-->
  
  
</ion-content>

